<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ahmetanilgur.fakearmut">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="api.url"
            android:value="https://599api-ptbwhoiylf.now.sh" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="Filter"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <provider
            android:name=".data.UserProvider"
            android:authorities="com.example.ahmetanilgur.fakearmut"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/pref_prices"
            android:value=".MainActivity" />

        <activity android:name=".CalendarActivity" />
        <activity
            android:name=".RequestActivity"
            android:label="@string/title_activity_request"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListOfRequestsActivity"
            android:label="@string/title_activity_list_of_requests"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListOfDayRequestsActivity"
            android:label="@string/title_activity_list_of_day_requests"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name=".data.UserProvider"
            android:authorities="com.example.ahmetanilgur.fakearmut"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".AcceptedActivity"
            android:label="@string/title_activity_accepted"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <receiver android:name=".utilities.ActionReceiver" />

    </application>

</manifest>