*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
599AndroidApp/.idea/codeStyles/Project.xml
599AndroidApp/.idea/gradle.xml
599AndroidApp/.idea/misc.xml
599AndroidApp/.idea/runConfigurations.xml
599AndroidApp/local.properties
*.properties
